body{
    background-color: #FFED8F;
         font-family:  'Quicksand', sans-serif;;
}

@media;
    
a{ font-family:  'Quicksand', sans-serif;;
font-size: 0.8em;}


.contenidor-feina{
    margin: 10px;
    padding: 10px;
    border: 1px solid white;  
    align-content: center;

}

/*imatges*/



/*text*/
  .container-display {
        position:absolute;
        padding: 10px;
        margin: 20px;
    
  
        /*indicador*/
        margin: auto;
        border: 1px dashed green;

    }

.contenidor-text{
    ;
    
}


#contenidor-footer{
    padding: 5px;
    border: 1px solid white;   
    position: fixed;
    bottom: 0%;
    left: 0%;
    width: 100%;
    background-color: gray;
    opacity: .4;
}
 .clearfix {
        overflow: auto;
    }

    .container {
        width: 100%;
        margin: 100%;
        border: 1px solid red;
        box-sizing: border-box;
        text-align: center;
    }

  

    .container-text {
        text-align: left;
        /*indicador*/
        margin: 5px;
        border: 1px dashed purple;
    }

    .boton-slider {
        width: 30px;
        height: 30px;
        background-color: grey;
    }

    .boton-slider:hover {
        width: 30px;
        height: 30px;
        background-color: ghostwhite;
    }

    .fletxaDreta-slider {
        position: absolute;
        top: 50%;
        left: 0%;
        transform: translate(0%, -50%);
        */
    }

    .fletxaEsquerra-slider {
        position: absolute;
        top: 50%;
        right: 0%;
        transform: translate(0%, -50%);
    }


    .mySlides {
        display: none;
        
    }

img{
    position: relative;
    left:25%;
}
