body{
    background-color: black;
        font-family: 'Rock Salt', cursive;

}
a{font-family: 'Rock Salt', cursive;
font-size: 0.8em;}


.contenidor-feina{
     margin: 5px;
    padding: 5px;
    border: 1px solid white;  
    align-content: center;

}

/*imatges*/

.img1{
    width: 100%;
    padding: 5px;
    
    
}

.img2{
    width: 50%;
    padding: 5px;
}



.img4{
    width: 100%;
    padding: 5px;
}

/*text*/

.contenidor-text{
    
}


#contenidor-footer{
    padding: 5px;
    border: 1px solid white;   
    position: fixed;
    bottom: 0%;
    left: 0%;
    width: 100%;
    background-color: gray;
    opacity: .4;
}
 .clearfix {
        overflow: auto;
    }

    .container {
        width: 75%;
        margin: auto;
        border: 1px solid red;
        box-sizing: border-box;
        text-align: center;
    }

    .container-display {
        position: relative;
        width: 98%;
        /*indicador*/
        margin: 5px;
        border: 1px dashed green;

    }

    .container-text {
        text-align: left;
        /*indicador*/
        margin: 5px;
        border: 1px dashed purple;
    }

    .boton-slider {
        width: 30px;
        height: 30px;
        background-color: grey;
    }

    .boton-slider:hover {
        width: 30px;
        height: 30px;
        background-color: ghostwhite;
    }

    .fletxaDreta-slider {
        position: absolute;
        top: 50%;
        left: 0%;
        transform: translate(0%, -50%);
        */
    }

    .fletxaEsquerra-slider {
        position: absolute;
        top: 50%;
        right: 0%;
        transform: translate(0%, -50%);
    }


    .mySlides {
        display: none;
    }
